.seller-full-box {
    border: 2px solid red;
    background-color: #fff;
    /* height: 100vh; */
}

.seller-top {
    /* border: 2px solid black; */
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.seller-nav-box {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */

}

.seller-nav-left {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    gap: 20px;

}

.seller-nav-left-text-box {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    width: 100%;

}

.seller-nav-left img {
    width: 130px;
}

.seller-nav-right {
    /* border: 2px solid black; */
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seller-nav-right button {
    width: 180px;
    height: 100%;
    font-size: 18px;
    background-color: gold;
    border: none;


}

.seller-nav-right span {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width:1024px) {
    .seller-top p {
        text-align: center;
    }

    .seller-nav-left span {
        font-size: 13px;
    }

    .seller-nav-right span {
        font-size: 18px;


    }

    .seller-nav-right button {
        width: 160px;
        height: 90%;
        font-size: 15px;
    }

}

@media(max-width:820px) {
    .seller-nav-box {
        flex-direction: column;
        align-items: center;
    }

    .seller-nav-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 10px; */
        /* padding: 10px; */

    }

    .seller-nav-left {
        width: 100%;
        justify-content: center;
    }

    .seller-nav-right {
        width: 100%;
        justify-content: space-around;
    }

    .seller-nav-right span {
        font-size: 20px;
    }

    .seller-nav-left span {
        font-size: 15px;
    }

    .seller-nav-right button {
        width: 160px;
        padding: 15px;
    }


}

@media(max-width:490px) {
    .seller-nav-left {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .seller-nav-right button {
        width: 130px;
        padding: 11px;
    }

    .seller-nav-left span {
        font-size: 14px;
    }

    .seller-nav-right span {
        font-size: 18px;
    }

}