.cart-full-box {
    /* border: 2px solid red; */
    padding: 10px;
    /* height: 88vh; */
}

.cart-box {
    /* border: 2px solid yellow; */
    background-color: #fff;
    height: 55vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cart-product-box {
    /* border: 2px solid yellow; */
    background-color: #fff;
    /* height: 50vh; */
    width: 95%;
    margin: auto;



}

.cart-product {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    /* height: 20vh; */


}

.cart-product-imgbox {
    /* border: 2px solid red; */
    width: 120px;
    height: 130px;
    overflow: hidden;

}

.cart-product-imgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-product-detail {
    /* border: 2px solid green; */
    width: 100%;
    /* padding: 10px; */

}

.cart-detail-box {
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.cart-detail-box h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.562);
    font-weight: 500;
}

.cart-detail-box h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;



}

.cart-btn-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-btn-box span {
    border: 1px solid black;
    width: 40px;
    padding: 5px;
    text-align: center;
}

.cart-btn-box p {
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.cart-btn {
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.393);
    border-radius: 100%;
    color: black;
    padding: 5px;
}



.cart-text-box {
    text-align: center;
}

.cart-text-box p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cart-box button {
    width: 170px;
    padding: 10px;
    background-color: darkorange;
    color: #fff;
    border: none;
}

.cart-foot-box {
    /* border: 2px solid green; */
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.cart-foot-box span {
    font-size: 15px;
    font-weight: 300;
    color: rgb(81, 80, 80);
}

/* ---------------- Responsive Section ---------------- */
@media (max-width: 900px) {
    .cart-box {
        width: 95%;
        height: 60vh;
        gap: 15px;
    }

    .cart-box button {
        width: 150px;
        padding: 8px;
        font-size: 14px;
    }

    .cart-text-box p {
        font-size: 13px;
    }

    .cart-foot-box span {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .cart-full-box {
        height: auto;
        padding: 15px;
    }

    .cart-box {
        width: 100%;
        height: auto;
        padding: 15px 0;
        gap: 10px;
    }

    .cart-box button {
        width: 130px;
        font-size: 13px;
        padding: 7px;
    }

    .cart-text-box p {
        font-size: 12px;
    }

    .cart-foot-box {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .cart-foot-box span {
        font-size: 12px;
    }
}