.applian-container {
    /* border: 2px solid black; */
    background-color: #fff;
    width: 97%;
    margin: 10px auto;
}

.applian-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 15px;
}


.applian-optionp-box {
    /* border: 2px solid red; */
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.applian-option {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 250px;
    justify-content: center;
    cursor: pointer;
}

.applian-img-box {
    border-bottom: 2px solid black;
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;


}

.applian-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.applian-img-box img:hover {
    transform: scale(1.1);

}

.applian-text-box {
    /* border: 2px solid blue; */
    margin-top: 10px;
    height: 46px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width:1450px) {
    .applian-option {

        width: 250px;
        height: 220px;
    }
    .applian-img-box {
         width: 230px;
    height: 190px;

    }


}
@media(max-width:524px){
    .applian-option {

        width: 450px;
        height: 270px;
            margin-top: 15px;

    }
    .applian-img-box {
         width: 300px;
    height: 230px;

    }

}