.flex-container {
    /* border: 2px solid black; */
    background-color: #fff;
    width: 97%;
    margin: 10px auto;
}

.flex-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 15px;
}


.flex-optionp-box {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.flex-option {
    /* border: 2px solid green; */
    width: 480px;
    height: 780px;
    cursor: pointer;
}

.flex-img-box {
    /* border-bottom: 2px solid black; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;


}

.flex-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.flex-img-box img:hover {
    transform: scale(1.1);

}


.flex-product-box {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65%;
}

.flex-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 250px;
    justify-content: center;
    cursor: pointer;
}




.flex-product-img {
    border-bottom: 2px solid black;
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.flex-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}


.flex-text-box {
    /* border: 2px solid blue; */
    margin-top: 10px;
    height: 46px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



@media(max-width:1450px) {
    .flex-option {
        width: 480px;
        height: 780px;
    }

}


@media(max-width:1420px) {
    .flex-option {
        width: 380px;
        height: 680px;
    }
    .flex-product {
    width: 250px;
    height: 230px;
}
.flex-product-img {
    width: 200px;
    height: 200px;
}
}



@media(max-width:1200px) {
    .flex-option {
        width: 380px;
        height: 680px;
    }
    .flex-product {
    width: 200px;
    height: 200px;
}

}
@media(max-width:1125px) {
    .flex-option {
        width: 850px;
        height: 680px;
    }
    .flex-product {
    width: 200px;
    height: 200px;
}
.flex-product-box{
    width: 80%;
}

}



@media(max-width:524px) {
    .flex-option {

        width: 450px;
        height: 270px;
        margin-top: 15px;

    }

}