.product-box {
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #fff;
    width: 90%;
    margin: 13px auto;
    /* flex-wrap: wrap; */
}

.product-img-section {
    /* border: 2px solid red; */
    width: 30%;
    height: 500px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

.product-img {
    /* border: 2px solid black; */
    width: 90%;
    height: 85%;
    overflow: hidden;

}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.product-img-btnbox {
    /* border: 2px solid orange; */
    display: flex;
    /* justify-content: space-around; */
    gap: 15px;


}

.product-img-btnbox button {
    width: 180px;
    font-size: 15px;
    padding: 13px;
    background-color: darkorange;
}

.product-detail-section {
    /* border: 2px solid orange; */
    /* padding: 10px; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    /* height: 500px; */



}

.product-detail-section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.product-price-box {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-price-box2 {
    /* border: 2px solid orange; */
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-price-box2 span {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.product-price-box2 p {
    color: green;
    font-weight: bold;



}

.product-price-box h4 {
    color: green;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}



.product-offer-box {
    /* border: 2px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.product-offer-box h3 {
    font-size: 18px;
    font-weight: 600;
    color: green;

}

.product-offer-box ol {
    list-style-type: none;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-offer-box ol li span {
    color: green;
    font-weight: bold;
}

.product-capacity-box {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

.product-capacity-box p {
    border: 1px dotted rgba(0, 0, 0, 0.586);
    width: 70px;
    height: 35px;
    text-align: center;
    color: rgba(0, 0, 0, 0.515);
    cursor: pointer;
}

.product-capacity-box h2 {
    color: rgba(0, 0, 0, 0.515);
    font-size: 18px;


}

.product-capacity-box p:hover {
    color: blue;
    border: 1px solid blue;
}

.product-description-box {
    /* border: 2px solid black; */
    padding: 10px;

}

.product-description-box p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.product-description-box h2 {
    color: green;

    font-size: 18px;

}
@media (max-width: 1440px) {
    .product-img-btnbox button {
    width: 150px;
   
}


}


@media (max-width: 1024px) {
    .product-box {
        flex-direction: column;
        align-items: center;
    }

    .product-img-section,
    .product-detail-section {
        width: 90%;
    }

    .product-img {
        height: 350px;
    }
}

/* For Mobile (<=768px) */
@media (max-width: 768px) {
    .product-img-section {
        width: 100%;
        height: auto;
    }

    .product-detail-section {
        width: 100%;
        padding: 10px;
    }

    .product-img {
        height: 300px;
    }

    .product-img-btnbox button {
        width: 140px;
        font-size: 13px;
        padding: 10px;
    }

    .product-price-box2 span {
        font-size: 20px;
    }

    .product-detail-section p {
        font-size: 15px;
    }
}

/* For Very Small Devices (<=480px) */
@media (max-width: 480px) {
    .product-box {
        width: 100%;
        padding: 5px;
    }

    .product-img {
        height: 250px;
    }

    .product-img-btnbox {
        flex-direction: column;
        gap: 8px;
    }

    .product-img-btnbox button {
        width: 100%;
    }

    .product-price-box2 {
        flex-direction: column;
        align-items: flex-start;
    }
}