.sale-container {
    /* border: 2px solid red; */
    width: 97%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;

}

.sale-box1 {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #1e41f0, #ff42c9);
    color: #fff;
    border-radius: 10px;

}

.sale-img-box {
    /* border: 2px solid green; */
    width: 300px;
    height: 200px;
    border-radius: 10px;
    /* padding: 5px; */

}

.sale-img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;

}

.sale-img-box img:hover {
    transform: scale(1.05);

}

.sale-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

.sale-text h2 {
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.sale-text span {
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;

}

@media(max-width:980px) {
    .sale-box1 {
        width: 90%;
        margin: auto;

    }

    .sale-img-box {
        width: 180px;
        height: 140px;
    }

    .sale-text h2 {
        font-size: 22px;
    }

    .sale-text span {
        font-size: 15px;

    }
}

@media (max-width:675px) {
    .sale-container {
        grid-template-columns: repeat(1, 1fr);


    }

}