.mobile-full-container {
    /* border: 2px solid red; */
    display: flex;
    gap: 30px;
    margin: 10px auto;
    width: 97%;



}

.mobile-box {
    /* border: 2px solid black; */
    background-color: #fff;
    width: 90%;
}

.mobile-btn {
    width: 140px;
}


.mobile-box h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.mobile-option {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;


}

.mobile-item-box {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mobile-img-box {
    /* border: 2px solid yellow; */
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.mobile-img-box:hover {
    transform: scale(1.05);
}

.mobile-img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mobile-side-box {
    /* border: 2px solid blue; */
    background: linear-gradient(to bottom, #1e41f0, #ff42c9);
    /* height: 350px; */
    width: 350px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mobile-side-img {
    /* border: 2px solid red; */
    width: 120px;
    height: 140px;


}

.mobile-side-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mobile-side-text {
    text-align: center;

}




@media(max-width:1440px) {
    .mobile-option {
        grid-template-columns: repeat(4, 1fr);
        /* padding: 7px; */

    }

    .mobile-full-container {

        flex-direction: column;
        gap: 15px;

    }

    .mobile-box {

        width: 99%;
        margin: auto;
    }

    .mobile-side-box {
        margin: auto;
        width: 99%;
        gap: 10px
    }

    .mobile-side-img {
        width: 150px;
        height: 150px;
    }

    .mobile-side-text {
        font-size: 20px;

    }


}


@media(max-width:1024px) {
    .mobile-option {
        grid-template-columns: repeat(3, 1fr);
        /* padding: 7px; */

    }

    .mobile-box {

        width: 100%;
        margin: auto;
    }


    .mobile-item-box {
        width: 250px;
        margin: auto;
    }

    .mobile-img-box {
        width: 170px;
        height: 150px;

    }
}

@media(max-width:768px) {
    .mobile-item-box {
        width: 180px;
    }

    .mobile-img-box {
        width: 140px;
        height: 120px;

    }

    .mobile-side-box h1 {
        font-size: 25px;
    }

    .mobile-side-img {
        width: 130px;
        height: 130px;
    }

    .mobile-side-text {
        font-size: 16px;

    }

}

@media(max-width:530px) {
    .mobile-box h1 {
        font-size: 22px;
    }

    .mobile-img-box {
        width: 70px;
        height: 75px;

    }

    .mobile-item-box {
        width: 120px;
    }

    .mobile-item-box span {
        font-size: 13px;
    }

    .mobile-side-box h1 {
        font-size: 22px;
    }

    .mobile-side-img {
        width: 100px;
        height: 100px;
    }

    .mobile-side-text {
        font-size: 13px;

    }
    .mobile-btn {
    width: 90px;
    font-size: 12px;
    padding: 5px;
}

}

@media(max-width:375px) {
    .mobile-option {
        grid-template-columns: repeat(2, 1fr);

    }

    .mobile-box h1 {
        font-size: 20px;
    }

    .mobile-img-box {
        width: 80px;
        height: 85px;

    }

    .mobile-item-box {
        width: 140px;
    }

}