.Nav-container {
  border-bottom: 2px solid black;
  background-color: #fff;
  /* padding: 5px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.link {
  color: black;
  text-decoration: none;
}

.Nav-flip-logo {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.nav-sp {
  /* border: 2px solid green; */
  margin-top: -2px;
  text-align: center;

}

.nav-sp span {
  color: dimgray;
  font-size: 13px;
  font-weight: bold;
}

.Nav-flip-img-box {
  /* border: 2px solid rgba(17, 0, 255, 0.459); */

  width: 130px;
  height: 35px;

}

.Nav-flip-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}



.Nav-search-box {
  /* border: 2px solid yellow; */
  position: relative;
  width: 830px;
  /* padding: 10px; */
  max-width: 90%;

}

.Nav-search-box img {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 35px;
  cursor: pointer;
  transform: translateY(-50%);

}

.Nav-search-box input {
  width: 100%;
  padding: 12px 12px;
  /* padding: 10px 45px 10px 15px; */

  border-radius: 15px;
  background-color: rgb(233, 240, 248);
  font-size: 16px;
  outline: none;

  border: none;

}

.Nav-option-box {
  /* border: 2px solid green; */
  display: flex;
  gap: 25px;
  /* padding: 10px; */
  padding: 5px;

  flex-wrap: wrap;
  justify-content: center;



}

.nav-login-logo {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 10px;
  /* height: 29px; */
  /* padding: 5px; */
  cursor: pointer;
  transition: all 0.3s ease;


}

.nav-login-logo:hover,
.nav-cart-box:hover,
.nav-seller-box:hover {
  transform: scale(1.05);
}

.nav-login-logo img {
  width: 23px;
}

.nav-login-logo span {
  font-size: 18px;
  font-weight: 500;
}

.nav-cart-box {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 10px;
  /* height: 29px; */
  /* padding: 5px; */
  cursor: pointer;
  transition: all 0.3s ease;


}

.nav-cart-box img {
  width: 23px;
}

.nav-cart-box span {
  font-size: 18px;
  font-weight: 500;
}

.nav-seller-box {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.nav-seller-box img {
  width: 23px;

}

.nav-seller-box span {
  font-size: 18px;
  font-weight: 500;
}



@media (max-width:1024px) {
  .Nav-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .Nav-search-box {
    width: 90%;
  }

  .Nav-option-box {
    justify-content: center;
  }
}

@media (max-width:768px) {
  .Nav-container {
    padding: 10px;
  }

  .Nav-search-box {
    width: 100%;
  }

  .Nav-option-box {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .nav-login-logo span,
  .nav-cart-box span,
  .nav-seller-box span {
    font-size: 14px;
  }

  .Nav-flip-img-box {
    width: 100px;
    height: 28px;
  }

}

@media (max-width:480px) {
  .Nav-container {
    flex-direction: column;
    gap: 8px;
  }

  .Nav-option-box {
    gap: 10px;
  }

  .nav-login-logo span,
  .nav-cart-box span,
  .nav-seller-box span {
    display: none;
    /* only icons visible on small screens */
  }

  .Nav-search-box input {
    font-size: 14px;
  }

}